<?xml version="1.0"?>
<!--
  The complete turtlebot library of xacros for easy reference
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- General -->
  <xacro:include filename="$(find gatlin)/urdf/common_properties.urdf.xacro"/>
  <xacro:include filename="$(find gatlin)/urdf/turtlebot_properties.urdf.xacro"/>
  <!-- Bases -->
  <xacro:include filename="$(find gatlin)/urdf/create.urdf.xacro"/>
  <!-- Stacks -->
  <xacro:include filename="$(find gatlin)/urdf/stacks/circles.urdf.xacro"/>
  <xacro:include filename="$(find gatlin)/urdf/stacks/squares.urdf.xacro"/>
  <!-- 3D Sensors -->
  <xacro:include filename="$(find gatlin)/urdf/sensors/kinect.urdf.xacro"/>
</robot>
