<launch>
	<arg name="marker_size" default="4.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />

	<arg name="limb" default="left" />
	<arg name="fixed_frame" default="global_map" />
	<!-- <arg name="fixed_frame" default="base" /> -->
	<arg name="type" default="baxter_$(arg limb)" />
	<!-- <arg name="fixed_frame" default="/$(arg limb)_hand_camera" /> -->

	<arg name="cam_image_topic" default="/cameras/$(arg limb)_hand_camera/image" />
	<arg name="cam_info_topic" default="/cameras/$(arg limb)_hand_camera/camera_info" />		
	<arg name="output_frame" default="$(arg fixed_frame)" />

	<node name="ar_track_alvar_$(arg type)" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

	<node pkg="gatlin" type="ar_vision.py" name="ar_vision_$(arg type)" output="screen">
    	<!-- <param name="rgb_frame" value="$(arg limb)_hand_camera"/> -->
    	<param name="fixed_frame" value="$(arg fixed_frame)"/>
    	<!-- <param name="base_frame" value="base"/> -->
    </node>

</launch>
