<!--
  base_minimal launch   
 -->
<launch>
  <arg name="sim" default="false"/>
<!-- ######################################## minimal.launch ######################################## -->

  <arg name="base"       default="create"/>  <!-- create, rhoomba -->
  <arg name="battery"    default="$(optenv TURTLEBOT_BATTERY /sys/class/power_supply/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 in 2.6 or earlier kernels-->
  <arg name="stacks"     default="circles"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  default="kinect"/>  <!-- kinect, asus_xtion_pro -->

  <param name="/use_sim_time" value="$(arg sim)"/>
  
  <!-- ######################################## robot.launch.xml ######################################## -->
  <!--
  <include file="$(find turtlebot_bringup)/launch/includes/robot.launch.xml">
    <arg name="base" value="$(arg base)" />
    <arg name="stacks" value="$(arg stacks)" />
    <arg name="3d_sensor" value="$(arg 3d_sensor)" />
  </include>
  -->
  
  <!-- ######################################## description.launch.xml ######################################## -->
  <!--
  <include file="$(find turtlebot_bringup)/launch/includes/description.launch.xml">
    <arg name="base" value="$(arg base)" />
    <arg name="stacks" value="$(arg stacks)" />
    <arg name="3d_sensor" value="$(arg 3d_sensor)" />
  </include>
  -->

  <!-- <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_description)/robots/$(arg base)_$(arg stacks)_$(arg 3d_sensor).urdf.xacro'" /> -->

  <!-- <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find gatlin)/robots/gatlin_with_arm_and_head.urdf.xacro'" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find gatlin)/robots/gatlin_with_arm_and_head.urdf.xacro'" />
  <param name="use_gui" value="true"/> -->
  <!-- ######################################## description.launch.xml ######################################## -->
  

  <!-- important generally, but specifically utilised by the current app manager -->  
  <param name="robot/name" value="$(optenv ROBOT turtlebot)"/>
  <param name="robot/type" value="turtlebot"/>
  
  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0" />
  </node> -->

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find turtlebot_bringup)/param/$(arg base)/diagnostics.yaml" />
  </node>
  <!-- ######################################## robot.launch.xml ######################################## -->
  

  <include unless="$(arg simulation)" file="$(find gatlin)/launch/includes/mobile_base.launch.xml">
    <arg name="base_port" value="/dev/ttyUSB0" />
  </include>

  <include if="$(arg simulation)" file="$(find gatlin)/launch/includes/$(arg base).launch.xml">
    <arg name="base" value="$(arg base)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
  </include>
  

  <include file="$(find turtlebot_bringup)/launch/includes/netbook.launch.xml">
    <arg name="battery" value="$(arg battery)" />
  </include>

<!-- ######################################## minimal.launch ######################################## -->
</launch>
