<launch>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="8081"/>
	</include>

	<include file="$(find gatlin)/launch/baxter_tf.launch" />
	<node pkg="gatlin" type="tf_to_unity.py" name="server_tf_manager" output="screen">
		<param name="unity" value="true"/>
		<param name="incoming" value="/server/tf"/>
		<param name="outgoing" value=""/>
	</node>

	<include file="$(find gatlin)/launch/baxter_mott.launch" />
	
	<include file="$(find gatlin)/launch/ar_baxter.launch" />

	<!-- <include file="$(find gatlin)/launch/baxter_limb.launch">
		<arg name="limb" value="left"/>
	</include> -->

	<include file="$(find gatlin)/launch/baxter_limb.launch">
		<arg name="limb" value="right"/>
	</include>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gatlin)/rviz/baxter.rviz"/>

</launch>