<launch>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="8080"/>
	</include>

	<include file="$(find gatlin)/launch/baxter_tf.launch" />
	<node pkg="gatlin" type="tf_to_unity.py" name="server_tf_manager" output="screen">
		<param name="unity" value="true"/>
		<param name="incoming" value="/server/tf"/>
		<param name="outgoing" value=""/>
	</node>

	<!-- <include file="$(find gatlin)/launch/baxter_mott.launch" /> -->
	
	<include file="$(find gatlin)/launch/ar_baxter.launch" />

	<node pkg="gatlin" type="baxter_controller.py" name="baxter_controller_right" output="screen">
		<param name="limb" value="right"/>
	</node>

	<node pkg="gatlin" type="baxter_controller.py" name="baxter_controller_left" output="screen">
		<param name="limb" value="left"/>
	</node>

	<node pkg="gatlin" type="execute_velocity.py" name="execute_velocity_left" output="screen">
		<param name="limb" value="left"/>
	</node>

	<node pkg="gatlin" type="execute_velocity.py" name="execute_velocity_right" output="screen">
		<param name="limb" value="right"/>
	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gatlin)/rviz/baxter.rviz"/>

</launch>