<launch>
  <node pkg="rosbag" type="play" name="rosbag" args="-d 2 /home/turtlebot/ros_ws/2016-04-19-22-31-43.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/camera/rgb/image_color"/>
  </node>
</launch>