<launch>
	<arg name="gui" default="true" />
	<arg name="rviz" default="true" />
	<arg name="bridge" default="false" />
	<arg name="sim" default="true" />

	<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find gatlin)/robots/gatlin_with_arm_and_head.urdf.xacro'" />
	<param name="robot_description" command="$(arg urdf_file)" />
	
	<node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find gatlin)/rviz/urdf.rviz" required="true" />

	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<include if="$(arg bridge)" file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
		<arg name="port" value="9090"/>
	</include>

</launch>
