<!--
  gatlinv4 launch
 -->
<launch>

<arg name="rviz" default="true"/>
<!-- <arg name="calibrate" default="false"/> -->


<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
	<arg name="port" value="9080"/>
</include>

<!-- <include file="$(find gatlin)/launch/base_minimal.launch">
	<arg name="simulation" value="false"/>
</include> -->

<!-- <include file="$(find gatlin)/launch/model.launch">
	<arg name="gui" value="true" />
	<arg name="rviz" value="$(arg rviz)" />
</include> -->

<node pkg="gatlin" type="tf_to_unity.py" name="server_tf_manager" output="screen">
	<param name="incoming" value="/server/tf"/>
	<param name="outgoing" value=""/>
</node>

</launch>
