<launch>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="9090"/>
	</include>

	<!-- <include file="$(find gatlin)/launch/baxter_tf.launch" />
	<node pkg="gatlin" type="tf_to_unity.py" name="server_tf_manager" output="screen">
		<param name="unity" value="false"/>
		<param name="incoming" value=""/>
		<param name="outgoing" value="/server/tf"/>
	</node>

	<node pkg="gatlin" type="frame_maintainer.py" name="frame_maintainer" output="screen"/>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gatlin)/rviz/server.rviz"/> -->

</launch>